Package: drirc-tweaks
Version: 1.0.0-1big1
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:12
Description: Enable video decoder accel in radeon and amdgpu

